&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main row&quot;&gt;

		&lt;h1 class=&quot;page-title&quot;&gt;{{ page-title }}&lt;/h1&gt;

		&lt;div class=&quot;media&quot;&gt;
			{{# media__item}}
				{{&gt; molecules-media-item}}
			{{/ media__item}}
		&lt;/div&gt;&lt;!--end l-four-col--&gt;

	&lt;div&gt;&lt;!--End .main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;


