.class{
	width:100%;
	height:20em;
	display:table;
	&:last-child{
		padding-bottom: rem-calc(20);
	}
}
.class__item{
	display:table-cell;
	vertical-align:middle;
	width:50%;
	padding: 0 rem-calc(40);
	background: lighten($shade1, 3%);
}
.class__item__header{
	font-size: 1.7em;
	font-weight:bold;
	display:inline;
}
.class__item__content{
	font-size: 1em;
	line-height:1.5em;
}
.class__item__button{
	float:right;
}
.class__item__image{
	display:table-cell;
	height:20em;
	width:100%;
	float:right;
	background-color: $shade2;
}

/************* MODAL *************/
.modal__title {
	margin-bottom: rem-calc(20);
}
.modal__image {
	width: rem-calc(200);
	height: rem-calc(250);
	float: left;
	margin-right: rem-calc(30);
	background: $shade3;
}
.teacher {
	font-size: 1.4em;
}
