.main-footer {
	background: $shade1;
	color: $shade3;
	overflow: hidden;
	padding: 3.6em 0;
}
.map {
	width: 100%;
	height: 10em;
	background: $shade2;
	text-align: center;
	line-height: 10em;
	margin-bottom: 2.2em;
}
.twitter {
	margin-bottom: 2.2em;
}
.contact__field--message {
	height: 5em;
}
.contact__button {
	margin-bottom: 0;
}
.contact__button--submit {
	background: lighten($shade3, 7%);
	margin-bottom: 0;
	&:hover {
		background: $shade3;
	}
}