.main-header {
	overflow: hidden;
	border-bottom: 1px solid $shade2;
}
.logo {
	line-height: 1.8em;
	margin: 0;
}
.main-nav {
	.inline-list {
		float: right;
		width: auto;	
	}
	.main-nav__item {
		margin: rem-calc(24) 0 rem-calc(24) rem-calc(36);
	}
	.main-nav__link {
		display: block;
		padding: rem-calc(7) rem-calc(10);
		&:hover {
			background: $primary-color;
			color: white;
			@include radius();
		}
	}
	@media(max-width:1050px) {
		display: none;
	}
}
.mobile-menu {
	margin: 0;
	.main-nav__item {
		list-style: none;
		font-size: 1.5em;
		text-align: center;
		border-bottom:1px solid #fff;
	}
	.main-nav__link { 
		color: #fff;
		width: 100%;
		padding: rem-calc(10) 0;
		display: block;
		&:hover,
		&:visited { background: $primary-color; }
	}
}
.right-off-canvas-toggle {
	position: absolute;
	right: 20px;
	top: 30px;
	@media(min-width:1051px) {
		 display: none;
	}
}
