/*************** GENERAL ***************/
.content {
	padding: rem-calc(30) 0;
}
.page-title {
	font-size: 2.1em;
	color: $primary-color;
}

/*************** HOME ***************/
.home {
	padding: 0;
}
.intro {
	width: 100%;
	background: darken($shade3, 8%);
	overflow: hidden;
	padding: 7em;
	text-align: center;
	@media(max-width:768px) {
		padding: 3em;
	}
	.intro__button {
		margin: 0 auto;
		padding-right: rem-calc(50);
		padding-left: rem-calc(50);
	}
}
.intro__message {
	max-width: 20em;
	width: 80%;
	color: $shade1;
	margin: 0 auto 1.8em auto;
	font-size: 1.8em;
	text-align: center;
	@media(max-width:768px) {
		font-size: 1.5em;
	}
}
.teaser {
	width: 100%;
	overflow: hidden;
}
.teaser__item {
	width: 100%;
	height: auto;
	float: left;
	font-size: 1.2em;
	&:first-child {
		border-bottom: 1px solid $shade2;
	}
	@media(min-width:768px) {
		width: 50%;
		height: 20em;
	}
}
.teaser__article {
	display: table-cell;
	padding: 6%;
	vertical-align: middle;
	float: left;
	overflow: hidden;
}
.teaser__image {
	background: $shade2;
	margin: 0;
	@media(max-width:768px) {
		display: none;
	}
}
.teaser__header {
	font-size: 1.7em;
}
.teaser__button {
	float: right;
	margin-top: 2em;
}