.media {
	.page-title {
		margin-bottom: rem-calc(30);
	}
}
.media__item{
	margin:0;
}
.media__item__image{
	width:100%;
	height:20em;
	margin-bottom: rem-calc(10);
}
.media__item__header{
	font-size:1.5em;
}
.media__item__content{
	margin-bottom: rem-calc(45);
	line-height: 1.5;
}