.pricing-table {
	margin-top: 40px;
	position: relative;
	.popular { 
		position: absolute;
		left:0;
		right:0;
		top: -46px;
		background: $shade3;
		color: white;
		text-transform: uppercase;
	}
	.title {
		background: $secondary-color;
		font-size: 1.4em;
	}
}
.trial {
	width: 100%;
	clear:both;
	text-align: center;
	padding-top: 30px;
	overflow: hidden;
	.trial__text { 
		display: block;
		font-size: 18px;
		margin-right: 30px;
		text-align: center;
		line-height: 3;
	}
	.button {
		display:block;
	}
}
.businessPlan {
	margin: 0 auto;
	font-size: 1.5em;
	max-width: rem-calc(550);
	margin-top: rem-calc(60);
	.businessPlan__content { 
		padding: rem-calc(20) rem-calc(40);
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		color: $secondary-color;
	}
}