.pricing-table {
	margin-top: rem-calc(40);
	position: relative;
	.popular { 
		position: absolute;
		left:0;
		right:0;
		top: rem-calc(-46);
		background: $shade3;
		color: white;
		text-transform: uppercase;
	}
	.title {
		background: $secondary-color;
		font-size: 1.4em;
	}
}
.trial {
	width: 100%;
	clear:both;
	text-align: center;
	padding-top: rem-calc(30);
	overflow: hidden;
	.trial__text { 
		display: block;
		font-size: 1.5em;
		margin-right: rem-calc(30);
		text-align: center;
		line-height: 2;
	}
	.button {
		display:block;
	}
}
.businessPlan {
	margin: 0 auto;
	font-size: 1.5em;
	max-width: rem-calc(550);
	margin-top: rem-calc(60);
	.businessPlan__content { 
		padding: rem-calc(20) rem-calc(40);
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		color: $secondary-color;
	}
}