.staffBody {
	.staffItem__title, .staffItem__bio { margin: 0; }
	.staffItem__position { margin: 5px; }
	.staffItem__image {
		float:left;
		display:inline-block;
		margin-right: 20px;
	}
	.staffItem {
		margin-bottom:20px;
		@media(max-width: 767px) {
			&:last-child { border: none; }
			border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}	
}

