 &lt;article class=&quot;social__block facebook&quot;&gt;
  &lt;h3 class=&quot;social__header&quot;&gt;Facebook&lt;/h3&gt;
  &lt;p class=&quot;social__content&quot;&gt;This is the latest post from Facebook, liquorice lemon drops applicake sweet tootsie roll cookie topping tiramisu. &lt;span class=&quot;time&quot;&gt;{{&gt; atoms-time}}&lt;/span&gt;&lt;/p&gt;
&lt;/article&gt;