&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	{{&gt; atoms-hero-image }}
	&lt;div class=&quot;main&quot;&gt;

		{{# hero }}
			{{&gt; organisms-hero-intro }}
		{{/ hero}}

		{{# why-us }}
			{{&gt; organisms-self-promotion }}
		{{/ why-us }}
		
		&lt;div class=&quot;class-promotion-background&quot;&gt;&lt;/div&gt;
		{{# classes }}
			{{&gt; organisms-classes-promotion }}
		{{/ classes }}
	
	&lt;/div&gt;&lt;!--End .main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;