 &lt;ul class=&quot;pricing-table&quot;&gt;
	  &lt;li class=&quot;title&quot;&gt;{{ pricing.title }}&lt;/li&gt;
	  &lt;li class=&quot;price&quot;&gt; {{ pricing.price }} &lt;/li&gt;
	  &lt;li class=&quot;price&quot;&gt;&lt;a class=&quot;medium radius button&quot; href=&quot;#&quot;&gt;{{ pricing.buttonText }}&lt;/a&gt;&lt;/li&gt;
	  &lt;li class=&quot;bullet-item&quot;&gt;{{ pricing.feature }}&lt;/li&gt;
&lt;/ul&gt;