<nav id="nav" class="main-nav">
	<ul class="inline-list">
		<li><a href="{{ url }}">Pricing</a></li>
		<li><a href="{{ url }}">Features</a></li>
		<li><a href="{{ url }}">Classes</a></li>
		<li><a href="{{ url }}">Staff</a></li>
		<li><a href="{{ url }}">Media</a></li>
		<li><a href="{{ url }}">Blog</a></li>
	</ul>
</nav><!--end .nav-->
