<div class="row">
<div class="large-8 columns header__nav">
	<nav id="nav">
		<ul class="inline-list mainNav">
			<li class="header__nav__button"><a class="radius button header__nav__link" href="{{ url }}">Pricing</a></li>
			<li class="header__nav__button"><a class="radius button header__nav__link" href="{{ url }}">Features</a></li>
			<li class="header__nav__button"><a class="radius button header__nav__link" href="{{ url }}">Classes</a></li>
			<li class="header__nav__button"><a class="radius button header__nav__link" href="{{ url }}">Staff</a></li>
			<li class="header__nav__button"><a class="radius button header__nav__link" href="{{ url }}">Media</a></li>
			<li class="header__nav__button"><a class="radius button header__nav__link" href="{{ url }}">Blog</a></li>
		</ul>
	</nav><!--end #nav-->
</div>
</div>
<div class="large-8 columns">
	<a class="right-off-canvas-toggle icon-menu" href="#" >&nbsp;</a>
	<aside class="right-off-canvas-menu">
		<ul class="mobile-menu">
	        <li class="main-nav__item"><a href="pages/pricing.html" class="main-nav__link">Pricing</a></li>
	        <li class="main-nav__item"><a href="#" class="main-nav__link">Features</a></li>
	        <li class="main-nav__item"><a href="pages/classes.html" class="main-nav__link">Classes</a></li>
	        <li class="main-nav__item"><a href="pages/staff.html" class="main-nav__link">Staff</a></li>
	        <li class="main-nav__item"><a href="pages/media.html" class="main-nav__link">Media</a></li>
	        <li class="main-nav__item"><a href="#" class="main-nav__link">Blog</a></li>
	      </ul>
	</aside>
</div>
