 <article class="social__block facebook">
  <h3 class="social__header">Facebook</h3>
  <p class="social__content">This is the latest post from Facebook, liquorice lemon drops applicake sweet tootsie roll cookie topping tiramisu. <span class="time">{{> atoms-time}}</span></p>
</article>