 <ul class="pricing-table">
	  <li class="title">{{ pricing.title }}</li>
	  <li class="price price__text"> {{ pricing.price }} </li>
	  <li class="price"><a class="medium radius button self-promotion__button" href="#">{{ pricing.buttonText }}</a></li>
	  <li class="bullet-item"> {{ pricing.featureOne }}</li>
	  <li class="bullet-item"> {{ pricing.featureTwo }}</li>
	  <li class="bullet-item"> {{ pricing.featureThree }}</li>
</ul>