.intro {
	width: 100%;
	background: $med-grey;
	overflow: hidden;
	padding: 7em;
	text-align: center;
}
.intro__message {
	width: 20em;
	color: white;
	margin: 0 auto 1.8em auto;
	font-size: 1.8em;
	text-align: center;
}
.intro__button {
	@include button-style(1.2em, 0.5em, 1.4em);
	margin: 0 auto;
}