@import "_shared.scss";
.media{
	padding-bottom:40px;
}
.media__item{
	float:left;
	width:calc(100% / 3);
	padding:20px;
}
.media__item--image{
	width:100%;
	height:300px;
	background-color:$light-grey;
}

