$dark-grey: #474747;
$med-grey: #999999;
$light-grey: #e0e0e0;

@mixin button-style($font-size, $hrzt_pad, $vert-pad) {
	font-size: $font-size;
	padding: $hrzt_pad $vert-pad;
	background: $light-grey;
	color: $dark-grey;
	width: auto;
}