&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot;g g-3up&quot;&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;p&gt;123 Random Street&lt;/p&gt;
			&lt;p&gt;Portland, OR 92340&lt;/p&gt;
			&lt;p&gt; Tel: 800-808-0880&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3&gt;Twitter&lt;/h3&gt;
			&lt;p&gt;This is the latest tweet. &lt;span&gt;Time goes here&lt;/span&gt;&lt;/p&gt;
			&lt;h3&gt;Facebook&lt;/h3&gt;
			&lt;p&gt;This is the latest post. &lt;span&gt;Time goes here&lt;/span&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;form action=&quot;&quot; class=&quot;footer__column contact large-4 columns&quot;&gt;
	          &lt;h3 class=&quot;contact__header&quot;&gt;Contact Us&lt;/h3&gt;
	          &lt;div class=&quot;row&quot;&gt;
	            &lt;div class=&quot;large-8 columns&quot;&gt;
	              &lt;p class=&quot;contact__field&quot;&gt;&lt;input class=&quot;contact__field--name&quot; type=&quot;text&quot; placeholder=&quot;Name&quot;&gt;&lt;/p&gt;
	            &lt;/div&gt;
	          &lt;/div&gt;
	          &lt;div class=&quot;row&quot;&gt;
	            &lt;div class=&quot;large-8 columns&quot;&gt;
	              &lt;p class=&quot;contact__field&quot;&gt;&lt;input class=&quot;contact__field--email&quot; type=&quot;text&quot; placeholder=&quot;Email&quot;&gt;&lt;/p&gt;
	            &lt;/div&gt;
	          &lt;/div&gt;
	          &lt;div class=&quot;row&quot;&gt;
	            &lt;div class=&quot;large-12 columns&quot;&gt;
	              &lt;p class=&quot;contact__field&quot;&gt;&lt;textarea class=&quot;contact__field--message&quot; name=&quot;message&quot; placeholder=&quot;Message&quot;&gt;&lt;/textarea&gt;&lt;/p&gt;
	            &lt;/div&gt;
	          &lt;/div&gt;
	          &lt;p class=&quot;contact__button&quot;&gt;&lt;input class=&quot;contact__button--submit small radius button&quot; type=&quot;submit&quot; value=&quot;Send&quot;&gt;&lt;/p&gt;
	        &lt;/form&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;