&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
     &lt;div class=&quot;upper-footer&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
          &lt;div class=&quot;footer__column location large-4 columns&quot;&gt;
              {{&gt; molecules-address }}
          &lt;/div&gt;
          &lt;div class=&quot;footer__column social large-4 columns&quot;&gt;
            {{&gt; molecules-social-twitter}}
            {{&gt; molecules-social-facebook}}
          &lt;/div&gt;
          &lt;div class=&quot;footer__column contact large-4 columns&quot;&gt;
              {{&gt; molecules-comment-form}}
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;lower-footer&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
         &lt;div class=&quot;large-5 columns&quot;&gt;{{&gt; atoms-copyright}}&lt;/div&gt;
         &lt;div class=&quot;large-7 columns&quot;&gt;{{&gt; molecules-footer-nav }}&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;