&lt;section class=&quot;classes-promotion&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;large-12 columns&quot;&gt;
			{{&gt; atoms-content-title1 }}
		&lt;/div&gt;
	
		{{# class }}
			&lt;div class=&quot;large-6 columns&quot;&gt; 
				{{&gt; molecules-figure-with-caption }}
			&lt;/div&gt;
		{{/ class }}
	&lt;/div&gt;
	
	{{&gt; atoms-button }}
&lt;/section&gt;