&lt;section class=&quot;row classes-promotion&quot;&gt;
	&lt;div class=&quot;large-12 columns&quot;&gt;
		{{&gt; atoms-content-title1 }}
	&lt;/div&gt;

	{{# class }}
		&lt;div class=&quot;large-6 columns&quot;&gt; 
			{{&gt; molecules-figure-with-caption }}
		&lt;/div&gt;
	{{/ class }}
	{{&gt; atoms-button }}
&lt;/section&gt;