/* line 2, ../sass/classes.scss */
.classes {
  padding-bottom: 40px;
}

/* line 5, ../sass/classes.scss */
.classes__item {
  width: 100%;
}

/* line 9, ../sass/classes.scss */
.classes__item__description {
  float: left;
  width: 50%;
  padding: 20px;
}

/* line 14, ../sass/classes.scss */
.classes__item--description--button {
  float: right;
  background-color: #e0e0e0;
  padding: 0 10px;
}

/* line 19, ../sass/classes.scss */
.classes__item--image {
  float: left;
  width: 50%;
  height: 231px;
  background-color: #e0e0e0;
}
