/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_header.scss */
.main-header {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

/* line 5, ../sass/_header.scss */
.logo {
  float: left;
  font-size: 2.4em;
  line-height: 2.4em;
}

/* line 10, ../sass/_header.scss */
.main-nav {
  float: right;
  list-style-type: none;
  width: auto;
}

/* line 15, ../sass/_header.scss */
.main-nav__item {
  float: left;
  margin-left: 3em;
  line-height: 6em;
}

/* line 1, ../sass/_footer.scss */
.main-footer {
  background: #474747;
  color: #e0e0e0;
  overflow: hidden;
  padding: 4em 0;
}

/* line 7, ../sass/_footer.scss */
.footer__column {
  width: 28%;
  margin-right: 8%;
  float: left;
}
/* line 11, ../sass/_footer.scss */
.footer__column:last-child {
  margin-right: 0;
}

/* line 15, ../sass/_footer.scss */
.map {
  width: 100%;
  height: 10em;
  background: #999999;
  text-align: center;
  line-height: 10em;
  color: #474747;
  margin-bottom: 2.2em;
}

/* line 24, ../sass/_footer.scss */
.twitter {
  margin-bottom: 2.2em;
}

/* line 27, ../sass/_footer.scss */
.contact__field--message {
  width: 90%;
  height: 5em;
}

/* line 31, ../sass/_footer.scss */
.contact__button--submit {
  font-size: 1em;
  padding: 0.3em 1.2em;
  background: #e0e0e0;
  color: #474747;
  width: auto;
  border: none;
}

/* line 1, ../sass/_home.scss */
.intro {
  width: 100%;
  background: #474747;
  overflow: hidden;
  padding: 7em;
  text-align: center;
}

/* line 8, ../sass/_home.scss */
.intro__message {
  width: 20em;
  color: white;
  margin: 0 auto 1.8em auto;
  font-size: 1.8em;
  text-align: center;
}

/* line 15, ../sass/_home.scss */
.intro__button {
  font-size: 1.5em;
  padding: 0.5em 1.4em;
  background: #e0e0e0;
  color: #474747;
  width: auto;
  margin: 0 auto;
}

/* line 19, ../sass/_home.scss */
.teaser {
  width: 100%;
  overflow: hidden;
}

/* line 23, ../sass/_home.scss */
.teaser__item {
  width: 50%;
  height: 25em;
  float: left;
  font-size: 1.2em;
}

/* line 29, ../sass/_home.scss */
.teaser__article {
  padding: 4em 6em 4em 8%;
}
/* line 31, ../sass/_home.scss */
.teaser__article:last-child {
  padding: 4em 8% 4em 6em;
}

/* line 35, ../sass/_home.scss */
.teaser__image {
  background: #999999;
  margin: 0;
}

/* line 39, ../sass/_home.scss */
.teaser__header {
  font-size: 1.7em;
}

/* line 42, ../sass/_home.scss */
.teaser__button {
  font-size: 1em;
  padding: 0.5em 1.4em;
  background: #e0e0e0;
  color: #474747;
  width: auto;
  float: right;
  margin-top: 2em;
}

/* line 1, ../sass/_pricing.scss */
.pricingBody {
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 5, ../sass/_pricing.scss */
.mostPopular {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 9, ../sass/_pricing.scss */
.mostPopular .mostPopular__right {
  width: 50%;
  float: right;
  border: 1px solid #ccc;
  text-align: center;
}

/* line 16, ../sass/_pricing.scss */
.pricingContainer {
  float: left;
  width: 50%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
}

/* line 23, ../sass/_pricing.scss */
.pricingItem {
  border: 1px solid #ccc;
}
/* line 25, ../sass/_pricing.scss */
.pricingItem .pricingItem__choose {
  padding: 40px;
  background: #999999;
}
/* line 28, ../sass/_pricing.scss */
.pricingItem .pricingItem__choose .pricingItem__choose__price {
  font-size: 42px;
  margin: 0 0 35px 0;
}

/* line 34, ../sass/_pricing.scss */
.pricingItem__choose__button {
  font-size: 1.5em;
  padding: 0.5em 2.5em;
  background: #e0e0e0;
  color: #474747;
  width: auto;
}

/* line 37, ../sass/_pricing.scss */
.trail {
  width: 100%;
  clear: both;
  text-align: center;
}
/* line 41, ../sass/_pricing.scss */
.trail .trail__text {
  display: inline;
  font-size: 18px;
  margin-right: 30px;
}
/* line 46, ../sass/_pricing.scss */
.trail .trail__button {
  font-size: 1.8em;
  padding: 0.8em 8.5em;
  background: #e0e0e0;
  color: #474747;
  width: auto;
}

/* line 50, ../sass/_pricing.scss */
.businessPlan {
  margin: 0 auto;
  font-size: 24px;
  width: 550px;
}
/* line 54, ../sass/_pricing.scss */
.businessPlan .businessPlan__content {
  margin-top: 70px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 1, ../sass/_staff.scss */
.staffBody {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 4, ../sass/_staff.scss */
.staffBody .staffItem {
  padding: 30px 30px 30px 0;
}
@media (min-width: 767px) {
  /* line 4, ../sass/_staff.scss */
  .staffBody .staffItem {
    width: 50%;
    float: left;
  }
}
/* line 10, ../sass/_staff.scss */
.staffBody .staffItem .staffItem__title, .staffBody .staffItem .staffItem__bio {
  margin: 0;
}
/* line 11, ../sass/_staff.scss */
.staffBody .staffItem .staffItem__position {
  margin: 5px;
}
/* line 12, ../sass/_staff.scss */
.staffBody .staffItem .staffItem__image {
  float: left;
  display: inline-block;
  background: #999999;
  padding: 60px;
  margin: 0 20px 0 0;
}

/* line 15, ../sass/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/global.scss */
a {
  text-decoration: none;
  color: #3788cc;
}
/* line 21, ../sass/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../sass/global.scss */
.wrapper {
  max-width: 85.375em;
  margin: 0 auto;
}
