/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_header.scss */
.main-header {
  overflow: hidden;
}

/* line 4, ../sass/_header.scss */
.logo {
  float: left;
  font-size: 2.4em;
  line-height: 2.4em;
}

/* line 9, ../sass/_header.scss */
.main-nav {
  float: right;
  list-style-type: none;
  width: auto;
}

/* line 14, ../sass/_header.scss */
.main-nav__item {
  float: left;
  margin-left: 3em;
  line-height: 6em;
}

/* line 1, ../sass/_home.scss */
.intro {
  width: 100%;
  background: #999999;
  overflow: hidden;
  padding: 7em;
  text-align: center;
}

/* line 8, ../sass/_home.scss */
.intro__message {
  width: 20em;
  color: white;
  margin: 0 auto 1.8em auto;
  font-size: 1.8em;
  text-align: center;
}

/* line 15, ../sass/_home.scss */
.intro__button {
  font-size: 1.2em;
  padding: 0.5em 1.4em;
  background: #e0e0e0;
  color: #474747;
  width: auto;
  margin: 0 auto;
}

/* line 13, ../sass/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/global.scss */
a {
  text-decoration: none;
}
/* line 18, ../sass/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 23, ../sass/global.scss */
.wrapper {
  max-width: 85.375em;
  margin: 0 auto;
}
