/* line 2, ../sass/media.scss */
.media {
  padding-bottom: 40px;
}

/* line 5, ../sass/media.scss */
.media__item {
  float: left;
  width: calc(100% / 3);
  padding: 20px;
}

/* line 10, ../sass/media.scss */
.media__item--image {
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
}
