<!-- Begin .header -->
<div class="container">
<header class="header cf" role="banner">
	<div class="row">
    	<div class="large-4 columns">
			{{ > atoms-logo }}
		</div>	
        <div class="large-8 columns mainNavigation">
			{{ > molecules-primary-nav }}
		</div>	
	</div>
</header>
</div>
<!-- End .header -->