<!-- Begin .header -->
<div class="container">
<header class="header cf" role="banner">
    	<div class="large-4 columns">
			{{> atoms-logo }}
		</div>	
	{{> molecules-primary-nav }}
	
</header>
</div>
<!-- End .header -->