<!-- Begin .header -->
<div class="container">
<header class="header cf" role="banner">
	<div class="row">
    	<div class="large-3 small-6 columns">
			{{> atoms-logo }}
		</div>	
		<div class="large-9 columns">
			{{> molecules-primary-nav }}
		</div>
	</div>
</header>
</div>
<!-- End .header -->