<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
     <div class="upper-footer">
        <div class="row">
          <div class="footer__column location large-4 columns">
              {{> molecules-address }}
          </div>
          <div class="footer__column social large-4 columns">
            {{> molecules-social-twitter}}
            {{> molecules-social-facebook}}
          </div>
          <div class="footer__column contact large-4 columns">
              {{> molecules-comment-form}}
          </div>
        </div>
      </div>
      <div class="lower-footer">
        <div class="row">
         <div class="large-5 columns">{{> atoms-copyright}}</div>
         <div class="large-7 columns">{{> molecules-footer-nav }}</div>
        </div>
      </div>
</footer>
<!-- End Footer -->