<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="g g-3up">
		<div class="gi">
			<p>123 Random Street</p>
			<p>Portland, OR 92340</p>
			<p> Tel: 800-808-0880</p>
		</div>
		<div class="gi">
			<h3>Twitter</h3>
			<p>This is the latest tweet. <span>Time goes here</span></p>
			<h3>Facebook</h3>
			<p>This is the latest post. <span>Time goes here</span></p>
		</div>
		<div class="gi">
			<form action="" class="footer__column contact large-4 columns">
	          <h3 class="contact__header">Contact Us</h3>
	          <div class="row">
	            <div class="large-8 columns">
	              <p class="contact__field"><input class="contact__field--name" type="text" placeholder="Name"></p>
	            </div>
	          </div>
	          <div class="row">
	            <div class="large-8 columns">
	              <p class="contact__field"><input class="contact__field--email" type="text" placeholder="Email"></p>
	            </div>
	          </div>
	          <div class="row">
	            <div class="large-12 columns">
	              <p class="contact__field"><textarea class="contact__field--message" name="message" placeholder="Message"></textarea></p>
	            </div>
	          </div>
	          <p class="contact__button"><input class="contact__button--submit small radius button" type="submit" value="Send"></p>
	        </form>
		</div>
	</div>
</footer>
<!-- End Footer -->