&lt;div class=&quot;address&quot;&gt;
	&lt;a href=&quot;{{map-link}}&quot; target=&quot;_blank&quot;&gt;{{&gt; atoms-map}}&lt;/a&gt;
	&lt;p class=&quot;address__company&quot;&gt;{{ street }}&lt;br/&gt;
	{{ city }},&lt;abbr&gt; {{ state }} &lt;/abbr&gt;{{ postal-code }}&lt;br/&gt;
	Tel: {{ phone }}
&lt;/div&gt;