<form method="post" action="{{ url }}" class="comment-form">
		  <h3 class="contact__header">Contact Us</h3>
	      <div class="row">
	        <div class="large-8 columns">
	          <p class="contact__field"><input class="contact__field--name" type="text" placeholder="Name"></p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="large-8 columns">
	          <p class="contact__field"><input class="contact__field--email" type="text" placeholder="Email"></p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="large-12 columns">
	          <p class="contact__field"><textarea class="contact__field--message" name="message" placeholder="Message"></textarea></p>
	        </div>
	      </div>
	      <p class="contact__button"><input class="contact__button--submit small radius button" type="submit" value="Send Message"></p>
</form>