&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;comment-form&quot;&gt;
		  &lt;h3 class=&quot;contact__header&quot;&gt;Contact Us&lt;/h3&gt;
	      &lt;div class=&quot;row&quot;&gt;
	        &lt;div class=&quot;large-8 columns&quot;&gt;
	          &lt;p class=&quot;contact__field&quot;&gt;&lt;input class=&quot;contact__field--name&quot; type=&quot;text&quot; placeholder=&quot;Name&quot;&gt;&lt;/p&gt;
	        &lt;/div&gt;
	      &lt;/div&gt;
	      &lt;div class=&quot;row&quot;&gt;
	        &lt;div class=&quot;large-8 columns&quot;&gt;
	          &lt;p class=&quot;contact__field&quot;&gt;&lt;input class=&quot;contact__field--email&quot; type=&quot;text&quot; placeholder=&quot;Email&quot;&gt;&lt;/p&gt;
	        &lt;/div&gt;
	      &lt;/div&gt;
	      &lt;div class=&quot;row&quot;&gt;
	        &lt;div class=&quot;large-12 columns&quot;&gt;
	          &lt;p class=&quot;contact__field&quot;&gt;&lt;textarea class=&quot;contact__field--message&quot; name=&quot;message&quot; placeholder=&quot;Message&quot;&gt;&lt;/textarea&gt;&lt;/p&gt;
	        &lt;/div&gt;
	      &lt;/div&gt;
	      &lt;p class=&quot;contact__button&quot;&gt;&lt;input class=&quot;contact__button--submit small radius button&quot; type=&quot;submit&quot; value=&quot;Send Message&quot;&gt;&lt;/p&gt;
&lt;/form&gt;