&lt;!-- Begin .header --&gt;
&lt;div class=&quot;container&quot;&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
    	&lt;div class=&quot;large-4 columns&quot;&gt;
			{{ &gt; atoms-logo }}
		&lt;/div&gt;	
        &lt;div class=&quot;large-8 columns mainNavigation&quot;&gt;
			{{ &gt; molecules-primary-nav }}
		&lt;/div&gt;	
	&lt;/div&gt;
&lt;/header&gt;
&lt;/div&gt;
&lt;!-- End .header --&gt;