&lt;article class=&quot;social__block twitter&quot;&gt;
  &lt;h3 class=&quot;social__header&quot;&gt;Twitter&lt;/h3&gt;
  &lt;p class=&quot;social__content&quot;&gt;This is the latest tweet, wafer jujubes applicake carrot cake cheesecake cookie I love chupa chups. &lt;span class=&quot;time&quot;&gt;{{&gt; atoms-time}}&lt;/span&gt;&lt;/p&gt;
&lt;/article&gt;