&lt;div class=&quot;staffItem&quot;&gt;
		&lt;div class=&quot;staffItem__image&quot;&gt;
			&lt;img src=&quot;{{ img.square.src }}&quot; /&gt;
		&lt;/div&gt;
		&lt;div class=staffItem__body&quot;&gt;
			&lt;h3 class=&quot;staffItem__title content__title--level2&quot;&gt;{{ headline.short }}&lt;/h3&gt;
			&lt;p class=&quot;staffItem__position&quot;&gt;{{ position.short }}&lt;/p&gt;
			&lt;p class=&quot;staffItem__bio content__description&quot;&gt;{{ exerpt.medium }}&lt;/p&gt;
		&lt;/div&gt;
&lt;/div&gt;