/*********** General ********/
* {
	@include box-sizing(border-box);
}
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
p {
	line-height: 1.4;
}
.row {
	width: 92%;
}
.button,
.content__title--level1 {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	margin: 0;
}
.radius-button {
	background: $lightRed;
	@include box-shadow($primaryRed 0 4px);
	&:hover {
		background: darken($lightRed, 5%);
	}
}
.content__title--level1 {
	font-size: 1.4rem;
	margin-bottom: 1.2rem;
	color: $primaryRed;
}
.time { 
	font-size: 12px;
	font-style: italic;
}


/*********** Header ********/
.header { 
	@include background-opacity($primaryRed, 0.8);
	padding: 1em 0;
}
.logo { 
	max-width: rem-calc(300);
	@media(max-width:1075px) {
		max-width: rem-calc(200);
	}
}
.header__nav {
	float: right;
	margin-top: 1.4em;
}
.header__nav__button {
	margin-left: 0.2em;
}
.header__nav__link {
	color: #fff;
	display: block;
	padding: 0.3em 0.8em;
	margin-bottom: 0;
	background: none;
	font-weight: 400;
	text-transform: none;
	&:hover {
		color: $primaryRed;
		background: white;
	}
}
.mainNav {
	@media(max-width:1075px) {
		display: none;
	}
}
.mobile-menu {
	margin: 0;
	.main-nav__item {
		list-style: none;
		font-size: 1.5em;
		text-align: center;
		border-bottom:1px solid #fff;
	}
	.main-nav__link { 
		color: #fff;
		width: 100%;
		padding: rem-calc(10) 0;
		display: block;
		&:hover,
		&:visited { background: $primary-color; }
	}
}
.right-off-canvas-toggle {
	font-size: 2em;
	position: absolute;
	top: -65px;
	right: 0;
	color: #fff;
	@include transition(.3s);
	&:hover {
		color: $darkBlue;
	}
}
.right-off-canvas-menu, .right-off-canvas-toggle {
	@media(min-width:1074px) {
		display: none;
	}
}
/*********** Footer ********/
.upper-footer {
	background: #eee;
	padding: 2em;
	color: #777;
	abbr { color: #777; }
	.self-promotion__button {
		float: left;
	}
	.social__header, .contact__header {
		color: $darkBlue;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.4em;
	}
	.social__block.facebook { margin-top: 2.5em;}
	@media( min-width:768px) {
		.address__map { max-width:280px; }
	}
	.address__company { margin-top: .7em; }
}
.lower-footer {
	background: #aaa;
	color: #fff;
	padding: .8em;
	a { 
		color: #fff;
		&:hover { color: $primaryRed;}
	}
	.footer__nav { 
		float: right;
		margin: .3em 0 0 0;
	}
	.footer__nav__button {
		margin-left: 0 !important;
	}
	.footer__nav__link {
		color: #fff;
		display: block;
		padding: 0.3em;
		margin-bottom: 0;
		background: none;
		font-weight: 400;
		text-transform: none;
		&:hover {
			color: $primaryRed;
			background: none;
		}
	}
	.divider {
		 color: #fff; 
	}
	.copyright { margin-top: .8em; }
	@media(max-width:767px) {
		.footer__nav { display:none; }
		.copyright { text-align: center;}
	}
}