/*********** Header ********/
.header { 
	@include background-opacity($primaryRed, 0.8);
	padding: 1em 0;
}
.logo { 
	max-width: rem-calc(300);
}
.header__nav {
	float: right;
	margin-top: 1.4em;
}
.header__nav__button {
	margin-left: 0.2em;
}
.header__nav__link {
	color: #fff;
	font-size: 1.2em;
	display: block;
	padding: 0.3em 0.8em;
	margin-bottom: 0;
	background: none;
	&:hover {
		color: $primaryRed;
		background: white;
	}
}

/*********** Footer ********/
.upper-footer {
	background: #eee;
	padding: 2em;
}
.lower-footer {
	background: #aaa;
	color: #fff;
	padding: .8em;
	a { 
		color: #fff;
		&:hover { color: $primaryRed;}
	}
}