/*********** Hero ********/
.hero-intro {
	text-align: center;
	@media(min-width:980px) {
		padding: 20em 20em 15em 20em;
	}
	@media(max-width:979px) {
		margin-top:20%;
	}
}
.hero__image {
	position: absolute;
	z-index: -10;
	top: 0;
	@media(max-width:979px) {
		top: 6.438em;
	}
}
.hero__message {
	color: white;
	font-size: 2.2em;
	margin-bottom: 1em;
	@include text-shadow(#000 0 0 3em);
	font-weight: 400;
	min-width: rem-calc(400);
	@media(max-width:979px) {
		font-size: 1.3rem;
		padding: 0 1em;
	}
}
.hero__button {
	@include button(1rem);
	@include background-opacity($primaryBlue, 0.7);
	padding-left: 4rem;
	padding-right: 4rem;
	font-weight: 700;
	font-size: 1.3rem;
	&:hover {
		@include background-opacity($primaryBlue, 0.9);
	}
	@media(max-width:767px) {
		font-size: 1rem;
	}
}


/*********** Why Us ********/
.self-promotion-wrapper {
	background: url(../images/why-us.jpg) no-repeat;
	padding: 6em 0 12em 0;
	overflow: hidden;
	@include box-shadow($grey2 0 0 5px);
}
.self-promotion {
	padding: 2.7em 4em 3.2em 2.7em;
	@include background-opacity(white, 0.7);
}
.self-promotion__content {
	font-size: 1.7rem;
	color: $grey3;
	font-weight: 100;
}
.self-promotion__emphasis {
	background: $lightBlue;
	color: white;
}
.self-promotion__button {
	@extend .radius-button;
	float: right;
}


/*********** Join a Class ********/
.class-promotion-background {
	position: absolute;
	top: 97em;
	z-index: -10;
	background: lighten($lightBlue, 27%);
	width: 100%;
	height: 50em;
}
.classes-promotion {
	padding: 4em 0;
}
.class-figure {
	margin: 0;
	margin-top: 1em;
	text-align: center;
	position: relative;

	.fig-caption {
		position: absolute;
		padding: 1em 0;
		text-align: center;
		@include background-opacity(white, 0.7);
		display: block;
		width: 90%;
		bottom: 4em;
		left: 1.3em;
		font-size: 1.4em;
		color: $grey3;
	}
}
.class-image {
	width: 90%;
}
.class-promotion__button {
	@extend .radius-button;
	margin: 2.2em auto 0 auto;
	display: block;
	width: 20%;
	min-width: rem-calc(250);
}