/*********** Hero ********/
.hero-intro {
	padding: 20em ;
	text-align: center;
}
.hero__image {
	position: absolute;
	z-index: -10;
	top: 0;
}
.hero__message {
	color: white;
	font-size: 2.2em;
	margin-bottom: 1em;
	@include text-shadow(#000 0 0 3em);
	font-weight: 400;
}
.hero__button {
	@include button(1rem);
	@include background-opacity($primaryBlue, 0.8);
	padding-left: 3rem;
	padding-right: 3rem;
	font-weight: 700;
	font-size: 1.3rem;
}