.staffItem {
	overflow: hidden;
	margin-bottom: 2.5em;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #ddd;
	 @media(max-width:767px) {
	 	padding-top: 1.5em;
	 	text-align: center;
	 }
}
.staffItem__image { 
	margin-right: 1.5em;
	@media(min-width:768px) {
		float: left;
		max-width:7.5em;
	}
	img { @include border-radius(20px); }
}
.staffItem__title {
	color: $primaryBlue;
	margin-bottom: 0;
}
.staffItem__position { 
	margin-bottom: 5px;
	font-style: italic;
	font-size: .7em;
}