<section class="self-promotion">
	{{> atoms-section-title }}
	<p class="self-promotion__content">We are open 24/7 so you can <span class="self-promotion__emphasis">come anytime</span> you want. Our rates are also very affordable with <span class="self-promotion__emphasis">no contract</span> at all. And we can guarantee that it would <span class="self-promotion__emphasis">feel like home</span> with our dedicated and friendly staff. So won’t you give us a try?</p>
	{{> atoms-button }}
</section>s