<div class="page" id="page">
	{{> organisms-header }}
	{{> atoms-hero-image }}
	<div class="main">

		{{# hero }}
			{{> organisms-hero-intro }}
		{{/ hero}}

		{{# why-us }}
			{{> organisms-self-promotion }}
		{{/ why-us }}
		
		{{# classes }}
			{{> organisms-classes-promotion }}
		{{/ classes }}
	
	</div><!--End .main-->
	{{> organisms-footer }}
</div>