<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="page-title">{{ page-title }}</h1>
		<div class="g g-3up">
			{{img.square}}
			{{# media__item}}
				<section class="img">
					{{img.landscape-4x3}}
				</section>
			{{/ media__item}}
		</div><!--end 3up-->

	</div><!--End role=main-->
	{{> organisms-footer }}
</div>