<div class="page" id="page">
	{{> organisms-header }}
	<div class="main row">

		<h1 class="page-title">{{ page-title }}</h1>

		<div class="media">
			{{# media__item}}
				{{> molecules-media-item}}
			{{/ media__item}}
		</div><!--end l-four-col-->

		</div><!--End .main-->
	{{> organisms-footer }}
</div>


