<div class="page" id="page">
	{{> organisms-header }}
	<div class="main row">
		<div class="large-12 columns">
			<h1 class="page__title">{{ page-title }}</h1>
			<p class="page__description">{{ page-description }}</p>
		</div>
		<div class="row classes-wrapper">
				{{# classes}}
					{{> molecules-classes-item}}
				{{/ classes}}
			</div>
		</div>
	</div><!--End .main-->
	{{> organisms-footer }}
</div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script src="../js/app.js"></script>
 