&lt;nav id=&quot;nav&quot; class=&quot;header__nav&quot;&gt;
	&lt;ul class=&quot;inline-list mainNav&quot;&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Features&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Classes&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Staff&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Media&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end #nav--&gt;
&lt;div class=&quot;large-8 columns&quot;&gt;
	&lt;a class=&quot;right-off-canvas-toggle icon-menu&quot; href=&quot;#&quot; &gt;&amp;nbsp;&lt;/a&gt;
	&lt;aside class=&quot;right-off-canvas-menu&quot;&gt;
		&lt;ul class=&quot;mobile-menu&quot;&gt;
	        &lt;li class=&quot;main-nav__item&quot;&gt;&lt;a href=&quot;pages/pricing.html&quot; class=&quot;main-nav__link&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
	        &lt;li class=&quot;main-nav__item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;main-nav__link&quot;&gt;Features&lt;/a&gt;&lt;/li&gt;
	        &lt;li class=&quot;main-nav__item&quot;&gt;&lt;a href=&quot;pages/classes.html&quot; class=&quot;main-nav__link&quot;&gt;Classes&lt;/a&gt;&lt;/li&gt;
	        &lt;li class=&quot;main-nav__item&quot;&gt;&lt;a href=&quot;pages/staff.html&quot; class=&quot;main-nav__link&quot;&gt;Staff&lt;/a&gt;&lt;/li&gt;
	        &lt;li class=&quot;main-nav__item&quot;&gt;&lt;a href=&quot;pages/media.html&quot; class=&quot;main-nav__link&quot;&gt;Media&lt;/a&gt;&lt;/li&gt;
	        &lt;li class=&quot;main-nav__item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;main-nav__link&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
	      &lt;/ul&gt;
	&lt;/aside&gt;
&lt;/div&gt;
