&lt;nav id=&quot;nav&quot; class=&quot;main-nav&quot;&gt;
	&lt;ul class=&quot;inline-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Features&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Classes&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Staff&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Media&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
