&lt;nav id=&quot;nav&quot; class=&quot;header__nav&quot;&gt;
	&lt;ul class=&quot;inline-list&quot;&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Features&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Classes&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Staff&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Media&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;header__nav__button&quot;&gt;&lt;a class=&quot;radius button header__nav__link&quot; href=&quot;{{ url }}&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end #nav--&gt;
