<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #de2d0f;"></span>
		<span class="sg-label">#de2d0f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2e516d;"></span>
		<span class="sg-label">#2e516d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cf2a0e;"></span>
		<span class="sg-label">#cf2a0e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666"></span>
		<span class="sg-label">#666666</span>
	</li>
	
</ul>