&lt;section class=&quot;self-promotion&quot;&gt;
	{{&gt; atoms-section-title }}
	&lt;p class=&quot;self-promotion__content&quot;&gt;We are open 24/7 so you can &lt;span class=&quot;self-promotion__emphasis&quot;&gt;come anytime&lt;/span&gt; you want. Our rates are also very affordable with &lt;span class=&quot;self-promotion__emphasis&quot;&gt;no contract&lt;/span&gt; at all. And we can guarantee that it would &lt;span class=&quot;self-promotion__emphasis&quot;&gt;feel like home&lt;/span&gt; with our dedicated and friendly staff. So won&rsquo;t you give us a try?&lt;/p&gt;
	{{&gt; atoms-button }}
&lt;/section&gt;s