&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main row&quot;&gt;

		&lt;h1 class=&quot;page__title&quot;&gt;{{ classes-classes.title }}&lt;/h1&gt;
		&lt;p class=&quot;page__description&quot;&gt;{{ page-description }}&lt;/p&gt;

		&lt;div class=&quot;row&quot;&gt;
				{{# classes}}
					{{&gt; molecules-classes-item}}
				{{/ classes}}
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;reveal-modal-bg&quot; style=&quot;display: none&quot;&gt;&lt;/div&gt;

		&lt;div id=&quot;yogaModal&quot; class=&quot;reveal-modal&quot; data-reveal&gt;
			&lt;h2 class=&quot;modal__title&quot;&gt;Welcome to Yoga&lt;/h2&gt;
			&lt;p class=&quot;modal__image&quot;&gt;&lt;img src=&quot;&quot; alt=&quot;&quot;&gt;&lt;/p&gt;
			&lt;p class=&quot;teacher&quot;&gt;Teacher: A Name Here&lt;/p&gt;
			&lt;p&gt;Vivamus rhoncus viverra lectus sit amet euismod. Proin ut vestibulum lacus. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue. Vivamus rhoncus viverra lectus sit amet euismod. Proin ut vestibulum lacus. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue.&lt;/p&gt;
			&lt;a class=&quot;close-reveal-modal&quot;&gt;&amp;#215;&lt;/a&gt;
		&lt;/div&gt;

		&lt;div id=&quot;zumbaModal&quot; class=&quot;reveal-modal&quot; data-reveal&gt;
			&lt;h2 class=&quot;modal__title&quot;&gt;Welcome to Zumba&lt;/h2&gt;
			&lt;p class=&quot;modal__image&quot;&gt;&lt;img src=&quot;&quot; alt=&quot;&quot;&gt;&lt;/p&gt;
			&lt;p class=&quot;teacher&quot;&gt;Teacher: A Name Here&lt;/p&gt;
			&lt;p&gt;Vivamus rhoncus viverra lectus sit amet euismod. Proin ut vestibulum lacus. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue. Vivamus rhoncus viverra lectus sit amet euismod. Proin ut vestibulum lacus. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue.&lt;/p&gt;
			&lt;a class=&quot;close-reveal-modal&quot;&gt;&amp;#215;&lt;/a&gt;
		&lt;/div&gt;

		&lt;div id=&quot;absModal&quot; class=&quot;reveal-modal&quot; data-reveal&gt;
			&lt;h2 class=&quot;modal__title&quot;&gt;Welcome to Rock Your Abs&lt;/h2&gt;
			&lt;p class=&quot;modal__image&quot;&gt;&lt;img src=&quot;&quot; alt=&quot;&quot;&gt;&lt;/p&gt;
			&lt;p class=&quot;teacher&quot;&gt;Teacher: A Name Here&lt;/p&gt;
			&lt;p&gt;Vivamus rhoncus viverra lectus sit amet euismod. Proin ut vestibulum lacus. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue. Vivamus rhoncus viverra lectus sit amet euismod. Proin ut vestibulum lacus. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue. Suspendisse vehicula molestie augue id dignissim. Morbi suscipit et erat id lobortis. Sed arcu ante, pretium ut leo ac, ullamcorper imperdiet augue.&lt;/p&gt;
			&lt;a class=&quot;close-reveal-modal&quot;&gt;&amp;#215;&lt;/a&gt;
		&lt;/div&gt;

	&lt;/div&gt;&lt;!--End .main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;

&lt;script src=&quot;../bower_components/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../bower_components/foundation/js/foundation.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../js/app.js&quot;&gt;&lt;/script&gt;
 