<figure class="media__item large-4 columns">
	<img class="{{ media__item__image.class }}" src="{{ media__item__image.landscape-4x3.src }}" alt="{{ media__item__image.landscape-4x3.alt }}" />
	<h3 class="{{ media__item__title.class }}"> {{ media__item__title.content }} </h3>
	<figcaption class="{{ media__item__description.class }}">
		{{ excerpt.short }}
	</figcaption>
</figure>
