<figure class="media__item large-3 columns">
	<img class="{{ img.class }}" src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
	<h3 class="{{ title.class }}"> {{ headline.medium }} </h3>
	<figcaption class="{{ title.class }}">
		{{ excerpt.medium }}
	</figcaption>
</figure>
