<div class="staffItem">
		<div class="staffItem__image">
			<img src="{{ img.square.src }}" />
		</div>
		<div class=staffItem__body">
			<h3 class="staffItem__title content__title--level2">{{ headline.short }}</h3>
			<p class="staffItem__position">{{ position.short }}</p>
			<p class="staffItem__bio content__description">{{ exerpt.medium }}</p>
		</div>
</div>