<div class="classes large-12 columns">
	<article class="classes__item large-6 columns">
		<h3 class="{{title.class}}">{{title.header}}</h3>
		<p class="{{description}}">
			{{ description.content}}
		</p>
		<a href="" data-reveal-id="yogaModal" class="class__item__button medium radius button">More Details</a>
	</article>
	<img class="{{ img.class }}" src="{{ img.landscape-16x9.src }}" alt="{{ img.landscape-16x9.alt }}" />
</div>